{% if variant and variant|lower != 'default' %}
  {% set variants = variant|split('__')|map(v => v|lower|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass(variants) %}
{% endif %}

{% set button_type = button_type|default('button') %}
{% set button_color = button_color|default('secondary') %}
{% set button_size = button_size|default('default') %}
{% set button_split = button_split|default(false) %}
{% set dark = dark|default(false) %}
{% set auto_close = auto_close|default('true') %}
{% set dropdown_tag = dropdown_tag|default('div') %}
{% set dropdown_navbar = dropdown_navbar|default(false) %}
{# Force button_type as button when splitting. #}
{% set button_type = button_split ? 'button' : button_type %}
{% if dropdown_navbar %}
  {% set button_variant = default %}
{% else %}
  {% set button_variant = (button_size == 'default') ? button_color : button_color ~ '__' ~ button_size %}
{% endif %}

{% set button_attributes = create_attribute({
  'class': [
    'dropdown-toggle',
    dropdown_navbar ? 'nav-link',
  ],
  'id': dropdown_id,
  'data-bs-toggle': 'dropdown',
  'data-bs-auto-close': auto_close,
  'aria-expanded': 'false'
}) %}
{% set button_attributes = (button_type == 'a') ? button_attributes.setAttribute('href', '#') : button_attributes %}

{% set list_attributes = create_attribute({
  'class': [
    'dropdown-menu',
    dark ? 'dropdown-menu-dark'
  ],
  'aria-labelledby': dropdown_id
}) %}

<{{ dropdown_tag }}{{ attributes }}>
  {% if button_split %}
    {% set split_button_attributes = create_attribute({
      'id': dropdown_id
    }) %}

    {% if variant|lower != 'btn_group__dropstart' %}
      {{ pattern('button', {
        label: title,
        attributes: split_button_attributes
      }, button_variant) }}
    {% endif %}

    {{ pattern('button', {
      label: 'Toggle Dropdown'|t,
      label_visually_hidden: true,
      attributes: button_attributes.addClass('dropdown-toggle-split').setAttribute('id', false)
    }, button_variant) }}
  {% else %}
    {{ pattern('button', {
      label: title,
      attributes: button_attributes
    }, button_variant) }}
  {% endif %}

  {% if content %}
    <ul {{ list_attributes }}>
      {% for item in content %}
        <li>
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if button_split and variant|lower == 'btn_group__dropstart' %}
    {{ pattern('button', {
      label: title,
      attributes: split_button_attributes
    }, button_variant) }}
  {% endif %}
</{{ dropdown_tag }}>
