{#
/**
 * @file
 * Styles page template, override this in your theme.
 */
#}

{% if styles is not empty %}
<div class="row">
<div class="col-lg-2">
  <h2 class="hidden">{{ "Available styles"|t }}</h2>

  {% for group_name, group_styles in styles %}
    {% if styles|length > 1 %}
      <h3>{{ group_name }}</h3>
    {% endif %}
  <ul class="list-unstyled">
      {% for style in group_styles %}
        <li>
          <a href="#{{ style.id }}">{{ style.label }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="col-lg-10">
  
 {% for group_styles in styles %}
    {% for style in group_styles %}
      <h3 id="{{ style.id }}" class="display-3">{{ style.label }}</h3>
      {% if style.description %}
        <p>{{ style.description }}</p>
      {% endif %}
      {% for id, option in style.preview_options %}
        {% set option_attributes = create_attribute()
          .addClass(id)
          .addClass(option.previewed_with) %}
        {% set previewed_as = option.previewed_as %}
        {% set label = option.label %}

        {% if previewed_as == 'aside' %}
          <p>{{ label }} ({{ id }})</p>
          <div{{ option_attributes }}>{{ 'Example'|t }}</div>
        {% elseif previewed_as == 'hidden' %}
          <p>{{ label }} ({{ id }})</p>
        {% else %}
          <p{{ option_attributes }}>{{ label }} ({{ id }})</p>
        {% endif %}

        {% if option.description is not empty %}
          <p>{{ option.description }}</p>
        {% endif %}
      {% endfor %}
      <hr>
    {% endfor %}
  {% endfor %}
</div>
</diV>

{% endif %}
