{# Create unique attribute objects for each table group. #}
{% set thead_attributes = create_attribute() %}
{% set tbody_attributes = create_attribute() %}
{% set tfoot_attributes = create_attribute() %}

{% set attributes = attributes.addClass('table') %}
{% if variant and variant|lower != 'default' %}
  {% set variants = variant|split('__')|map(v => v|lower|replace({(v): 'table-' ~ v})|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass(variants) %}
{% endif %}

{% if stripes %}
  {% for stripe in stripes %}
    {% set attributes = attributes.addClass('table-' ~ stripe|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

{% if borders %}
  {% set attributes = attributes.addClass('table-' ~ borders|lower|replace({'_': '-'})) %}
{% endif %}

{% if hover %}
  {% set attributes = attributes.addClass('table-hover') %}
{% endif %}

{% if caption_top %}
  {% set attributes = attributes.addClass('caption-top') %}
{% endif %}

{% if header_color %}
  {% set thead_attributes = thead_attributes.addClass('table-' ~ header_color|lower|replace({'_': '-'})) %}
{% endif %}
{% if footer_color %}
  {% set tfoot_attributes = tfoot_attributes.addClass('table-' ~ footer_color|lower|replace({'_': '-'})) %}
{% endif %}

{% set header_length = header ? header|length : 0 %}
{% set header_columns = header_columns|default(header_length) %}

{#
/**
 * Table_divider may have multiple values in it, each of which must
 * be applied to the correct table group.
 */
#}
{% if divider %}
  {% if 'thead' in divider %}
    {% set thead_attributes = thead_attributes.addClass('table-group-divider') %}
  {% endif %}
  {% if 'tbody' in divider %}
    {% set tbody_attributes = tbody_attributes.addClass('table-group-divider') %}
  {% endif %}
  {% if 'tfoot' in divider %}
    {% set tfoot_attributes = tfoot_attributes.addClass('table-group-divider') %}
  {% endif %}
{% endif %}

{% if responsive %}
  <div class="{{ 'table-' ~ responsive|lower|replace({'_': '-'}) }}">
{% endif %}

<table{{ attributes.addClass(table_classes) }}>
  {% if caption %}
    <caption>{{ caption }}</caption>
  {% endif %}

  {% for colgroup in colgroups %}
    {% if colgroup.cols %}
      <colgroup{{ colgroup.attributes }}>
        {% for col in colgroup.cols %}
          <col{{ col.attributes }} />
        {% endfor %}
      </colgroup>
    {% else %}
      <colgroup{{ colgroup.attributes }} />
    {% endif %}
  {% endfor %}

  {% if header %}
    <thead{{ thead_attributes }}>
      <tr>
        {% for cell in header %}
          <{{ cell.tag|default('th') }}{{ cell.attributes }}>
            {{- cell.content -}}
          </{{ cell.tag|default('th') }}>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}

  {% if rows %}
    <tbody{{ tbody_attributes }}>
      {% for row in rows %}
        <tr{{ row.attributes }}>
          {% for cell in row.cells %}
            <{{ cell.tag|default('td') }}{{ cell.attributes }}>
              {{- cell.content -}}
            </{{ cell.tag|default('td') }}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  {% elseif empty %}
    <tbody{{ tbody_attributes }}>
      <tr>
        <td colspan="{{ header_columns }}">{{ empty }}</td>
      </tr>
    </tbody>
  {% endif %}

  {% if footer %}
    <tfoot{{ tfoot_attributes }}>
      {% for row in footer %}
        <tr{{ row.attributes }}>
          {% for cell in row.cells %}
            <{{ cell.tag|default('td') }}{{ cell.attributes }}>
              {{- cell.content -}}
            </{{ cell.tag|default('td') }}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tfoot>
  {% endif %}
</table>

{% if responsive %}
</div>
{% endif %}
