{#
/**
 * @file
 * Styles page template, override this in your theme.
 */
#}

{% if styles is not empty %}
<div class="row">
<div class="col-lg-2">
  <h2 class="hidden">{{ "Available styles"|t }}</h2>

  {# List of available styles with anchor links. #}
  <ul class="list-unstyled">
    {% for style in styles %}
      <li>
        <a href="#{{ style.id }}">{{ style.label }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
<div class="col-lg-10">

  {% for style in styles %}
    <h3 id="{{ style.id }}" class="display-3">{{ style.label }}</h3>
    {% if style.description %}
    <p>{{ style.description }}</p>
    {% endif %}
    {% for id, label in style.options %}
      {% set style_attributes = create_attribute().addClass(id).addClass(style.previewed_with) %}
      <p{{ style_attributes }}>{{ label }} (<code>{{ id }}</code>)</p>
    {% endfor %}
    <hr>
  {% endfor %}
{% endif %}

</div>
</diV>

