{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('pagination-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if items %}
<nav aria-label="{{ 'Pagination'|t }}">
  <ul{{ attributes.addClass('pagination') }}>

    {# Print first item if we are not on the first page. #}
    {% if items.first %}
      {{ _self.item(items.first.text|default('« First'|t), items.first.href, items.first.attributes, 'First'|t) }}
    {% endif %}

    {# Print previous item if we are not on the first page. #}
    {% if items.previous %}
      {{ _self.item(items.previous.text|default('‹ Previous'|t), items.previous.href, items.previous.attributes, 'Previous'|t) }}
    {% endif %}

    {# Current pages for other pagers. #}
    {% for key, item in items.pages %}
      {% if current == key %}
      <li class="page-item active"><span class="page-link">
          <span class="visually-hidden">
            {{ current == key ? 'Current page'|t : 'Page'|t }}
          </span>
          {{- key -}}
      </span></li>
      {% else %}
       {{ _self.item(key, item.href, items.attributes) }}
      {% endif %}
    {% endfor %}

    {# Print next item if we are not on the last page. #}
    {% if items.next %}
      {{ _self.item(items.next.text|default('Next ›'|t), items.next.href, items.next.attributes, 'Next'|t) }}
    {% endif %}

    {# Print last item if we are not on the last page. #}
    {% if items.last %}
      {{ _self.item(items.last.text|default('Last »'|t), items.last.href, items.last.attributes, 'Last'|t) }}
    {% endif %}

  </ul>
</nav>
{% endif %}

{% macro item(text, href, attributes, aria_label = '') %}
<li class="page-item">
  {% set attributes = attributes|default(create_attribute()) %}
  {% set attributes = aria_label ? attributes.setAttribute('aria-label', aria_label) : attributes %}
  <a{{ attributes.addClass('page-link').setAttribute('href', href) }}>
    {% if aria_label %}
    <span aria-hidden="true">{{ text }}</span>
    {% else %}
    {{ text }}
    {% endif %}
  </a>
</li>
{% endmacro %}
