{% if header %}
<div class="card-header">
  {{ header }}
</div>
{% endif %}
<div class="card-body">
  {% if title %}<h5 class="card-title">{{ title }}</h5>{% endif %}
  {% if subtitle %}<h6 class="card-subtitle-title">{{ subtitle }}</h5>{% endif %}
  {% if text %}<p class="card-text">{{ text }}</p>{% endif %}
  {{ body }}
  {% if links %}
  {% for link in links %}
    <a href="{{ link.target }}" class="card-link">{{ link.label }}</a>
  {% endfor %}
  {% endif %}
</div>
{% if footer %}
<div class="card-footer">
{{ footer }}
</div>
{% endif %}
