{% if header %}
<div class="card-header">
  {{ header }}
</div>
{% endif %}
{% set heading_level = heading_level|default(5) %}
<div class="card-body">
  {% if title %}<h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>{% endif %}
  {% if subtitle %}<h{{ heading_level + 1 }} class="card-subtitle-title">{{ subtitle }}</h{{ heading_level + 1 }}>{% endif %}
  {% if text %}<p class="card-text">{{ text }}</p>{% endif %}
  {{ body }}
  {{ links }}
</div>
{% if footer %}
<div class="card-footer">
{{ footer }}
</div>
{% endif %}
