{% set header = '' %}
{% set footer = '' %}

<div{{ attributes.addClass('card').addClass('mb-3').setAttribute('style', 'max-width: 540px;') }}>
  <div class="row g-0">
    <div class="col-md-4">
      {{ image }}
    </div>
    <div class="col-md-8">
      {% if header %}
      <div class="card-header">
        {{ header }}
      </div>
      {% endif %}
      {{ content }}
      {% if footer %}
      <div class="card-footer">
        {{ footer }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
