{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('carousel-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% set id = 'carousel-' ~ random(1000) %}

<div{{ attributes.addClass('carousel').addClass('slide') }} id="{{ id }}" data-ride="carousel">

  {% if with_indicators %}
  <ol class="carousel-indicators">
    {% for slide in slides %}
    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="carousel-inner" role="listbox">
    {% for slide in slides %}
      <div class="carousel-item{% if loop.first %} active{% endif %}">
        {{ slide.image }}
        <div class="carousel-caption">
          {{ slide.caption }}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if with_controls %}
  <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ 'Previous'|t }}</span>
  </a>
  <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ 'Next'|t }}</span>
  </a>
  {% endif %}

</div>
