{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass(variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if variant|lower == 'dropdown_divider' %}
  <hr{{ attributes }}>
{% elseif variant|lower == 'dropdown_header' %}
  {% set heading_level = heading_level|default(6) %}
  <h{{ heading_level }}{{ attributes}}>{{ content }}</h{{ heading_level }}>
{% elseif variant|lower == 'dropdown_item_text' %}
  <span{{ attributes }}>{{ content }}</span>
{% else %}
  {#
  In this case it is the responsibility of the content render element to
  have the 'dropdown-item' class.
  #}
  {{ content }}
{% endif %}
